body{
    margin:0;
    padding:0; 
}
.principal1{
    display:flex;
    flex-direction:column;   
}
.filhos1{
    display:flex; 
}
.f1{
    height: 185px;
    width:  50px;
    border:2px solid red;
    margin: 10px;
    box-shadow: -5px 5px 5px 5px red; 
    flex-grow: 2;         
}
.f12{
    flex-grow: 5;
}

